<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tallena</title>
    
    <!-- SEMANTIC UI CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <!-- MENU PRINCIPAL
    <nav class="ui fixed vertical small menu">
        <div class="header item">Tallena</div>
        <a href="/dashboard" class="item">Dashboard</a>
        
        <div class="ui dropdown item"><i class="dropdown icon"></i>Configuracion
            <div class="menu">
                <a href="/users" class="item">Usuarios</a>
            </div>
        </div>

        <div class="ui dropdown item"><i class="dropdown icon"></i>Mas..
            <div class="menu">
                <a href="#" class="item">Ayuda</a>
            </div>
        </div>
    </nav>

    -->

    <!-- MENU HERRAMIENTAS -->
    <header class="ui secondary menu">

        <!-- Titulo de la cabecera -->
        <h5 class="header item">{{header_title}}</h5>

        
        <div class="right menu">
            <!-- Boton "nuevo" -->
            <div class="item">
                <div class="ui mini buttons">
                    <div class="ui button">Nuevo ticket</div>
                    <div class="ui floating dropdown icon button">
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item">Nuevo acceso</div>
                            <div class="item">Nuevo articulo</div>
                            <div class="item">Nuevo cliente</div>
                            <div class="item">Nuevo contacto</div>
                            <div class="item">Nuevo grupo</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Buscador -->
            <div class="item">
                <div class="ui transparent icon small input">
                    <input type="text" placeholder="Buscar...">
                    <i class="search icon"></i>
                </div>
            </div>

            <!-- Favoritos -->
            <a href="#" class="item tooltip" data-variation="inverted" data-content="Favoritos" data-position="left center">
                <i class="red heart icon"></i>
            </a>

            <!-- Log out -->
            <a href="/logout" class="icon item">
                <i class="sign-out icon"></i>
            </a>
        </div>

    </header>

    <!-- JQUERY --> <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <!-- SEMANTIC UI JS --> <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
    <!-- JS --> <script src="/js/main.js"></script>

    {{{body}}}

</body>
</html>