
body
{    
    background-color: #F3F3F3;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    width: 100vw;
}

section
{
    padding: 2rem !important;
    align-items: center;
    min-width: 300px;
    min-height: 350px;
    max-width: 350px;
}

section h1
{
    text-align: center;
}

#capslock
{
    display: none;
    text-align: center;
}