body
{
    font-family: 'Roboto', sans-serif !important;
}

header
{
    background-color: #FFFFFF !important;
    margin: 0 !important;
}

aside
{
    background-color: #F9F9F9 !important;
    margin: 0 !important;
}

main
{
    background-color: #EBEEF0 !important;
    height: 100%;
}

section
{
    width: 98% !important;
    max-height: 98vh;
}

table
{
    font-size: 0.85rem !important;
}

.ui.checkbox
{
    min-width: 7px;
}

.ui.divider
{
    margin: 0.5rem !important;
}